<form [formGroup]="info" (ngSubmit)="onSubmit()">

    <label>
      First Name:
     <input type="text" formControlName="name">

    </label>



    <label>
  
      Last Name:
  
      <input type="text" formControlName="lastName">
  
    </label>



    <label>
  
      Age:
  
      <input type="text" formControlName="age">
  
    </label>



    <label>
  
      Email:
  
      <input type="text" formControlName="eMail">
  
    </label>



    <input type="submit" class="btn btn-primary" value="Submit">
</form>